.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

#logInButton {
  background-color: red;
}

.col-form-label {
}

#LastNameRow {
  margin-top: 3em;
}

#submitFormButton {
  background-color: red;
}

#soarLogo {
  height: 6em;
}

#bodyDigramContainer {
  height: 28em;
  display: flex;
  justify-content: center;
}

#bodDiagramText {
  height: 5em;
  display: flex;
  justify-content: center;
}

#soarLogo {
  height: 6em;
  margin-left: 1em;
}

#backArrow {
  height: 4em;
}

.carousel-inner {
}

img {
  height: 15em;
}

#spanArrow {
  background-color: red;
}

#selectionContainer1 {
  height: 5em;
  display: flex;
  justify-content: center;
  width: auto;
}

.form-group {
  width: 20em;
}

#selectionContainer2 {
  display: flex;
  justify-content: center;
  height: 5em;
}

#headingDiv {
  height: 2em;
  display: flex;
  justify-content: center;
}

#dropDownDiv {
  height: 2em;
  margin: 1em;
}

submitFormButton {
  width: 20em;
  background: red;
}

#selectionContainer {
  height: 3em;
  display: flex;
  justify-content: center;
}

#logoutDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

logoutHeader {
  display: flex;
  justify-content: center;
}

#logoutHeader {
  display: flex;
  justify-content: center;
}

#logoutParagraph {
  display: flex;
  justify-content: center;
  /* padding-left: 1em; */
  width: 20em;
  margin: 1em;
}

#logoutButton {
  display: flex;
  justify-content: center;
  margin: 1em;
  height: 5em;
  padding: 1.5em;
  background-color: red;
}

#logoutDiv {
  display: flex;
  justify-content: center;
  margin-left: .7em;
  margin-top: 6em;
}

#bodyDigramContainer {
  height: 25em;
}

#bodyDiagram {
  height: 25em;
}

#addContentButton {
  background-color: red;
}

#fixMeButton {
  background-color: red;
}

#logInButtonAD {
  background-color: red;
}

#createAccoun {
  background-color: red;
}

#createAccountAD {
  background-color: red;
}

#createAccount {
  background-color: red;
}

#logOut {
  display: flex;
  justify-content: center;
}

