
.light {
    background-color: black  !important;
    color: whitesmoke !important;

#submitButton { 
background-color: blue !important;
}
#navcol-1 {
background: blue !important;
}
#favoritesButton {
background-color: blue !important;

}

#spanArrow {
background-color: blue !important;
}
#logoutButton {
background-color: blue !important;
}
#addContentButton {
background-color: blue !important;
}
#fixMeButton {
background-color: blue !important;
}
}


















@import 'node_modules/bootstrap/scss/bootstrap.scss'